.CardSkeleton {
    background-color: rgb(189, 185, 185);
    border-radius: 8px;
    padding: 10x 8px;

    &__image {
        height: 260px;
        border-radius: 4px;
    }
}

.Skeleton {
    animation: skeleton-loading 1s infinite alternate;
}

@keyframes skeleton-loading {
    from {
        background: rgba(208, 208, 208, 0.3);
    }

    to {
        background: rgba(208, 208, 208, 0.6);
    }
}